<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diet-Plan</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover table-bordered table-primary text-center">

                    <thead di>
                    <tr>
                        <th> For Weigth Gain </th>
                        <th> For Weigth Loss </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                <pre>
                    6:30 1 orange or apple or 1 cup of green tea
                    + 2 to 3 multigrain biscuits
                    8:00 3 to 4 slices of whole wheat bread toast
                    with peanut butter + 3 egg whites + 1 full
                    egg omelette or 1 cup of low fat milk

                    11:00 PM 1 scoop of whey protein+ 150 gms of
                    oatmeal + 1 banana+ a few almonds+ walnuts
                    1:00 PM	150 gms of brown rice or whole wheat
                    chapattis + 150 gms of skinless chicken breast
                    / fish + 1 bowl of mixed vegetables+ green
                    chutney+ salad
                    2:30 PM 1 fruit or green tea or sprouts salad
                    + few nuts

                    5:30 PM	1 fruit + 1 cup of low fat yoghurt or
                    1 cup of low fat milk with 1 scoop of whey
                    protein or whole wheat bread 3 egg whites/
                    steamed chicken sandwich.

                    8:00 PM 1 small fish or 100 gms of skinless/
                    lean chicken + stir fried veggies with baked
                    potato + 1 cup of brown rice/ whole wheat
                    chappati

                    10:00 PM 1 cup of skimmed milk with nuts

                    </pre>
                        </td>
                        <td>
                <pre>
                6:30 AM	Cucumber Detox Water(1 glass)

                8:00 AM	Oats Porridge in Skimmed Milk(1 bowl)
                Mixed Nuts(25 grams)

                12:00 PM Skimmed Milk Paneer(100 grams)

                2:00 PM	Mixed Vegetable Salad(1 katori)

                2:10 PM	Dal(1 katori)Gajar Matar Sabzi(1 katori)
                Roti (1 roti/chapati)

                4:00 PM	Cut Fruits(1 cup)Buttermilk(1 glass)

                5:30 PM	Tea with Less Sugar and Milk(1 teacup)

                8:50 PM	Mixed Vegetable Salad(1 katori)

                9:00 PM	Dal(1 katori)Lauki Sabzi(1 katori)
                Roti (1 roti/chapati)
                    </pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form action="/logout" method="get">
            <button class="btn btn-primary">Logout</button>
        </form>
    </div>

</section>
</body>
</html>