<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="style.css">
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body id="registration">
        <div class="login-page">
            <div class="form">

                <form class="login-form" method="post">
                    <input type="text" placeholder="email" name="email" required/>
                    <input type="text" placeholder="password" name="password" required/>
                    <button>login</button>
                    <p class="message">Not Registered? <a href="/register">Register</a></p>
                </form>
                

            </div>

        </div>
    </body>
</html>
