<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration fail</title>
    <link rel="stylesheet" href="style.css">
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="text-center">
<h1>Fail to Register</h1>
<h4 class="text-warning">User with this Email already exists</h4><br>
<h5 class="text-info">Please try with different Email</h5><br>
<form action="/register" method="get">
    <button class="btn btn-primary">Register Again</button>

</form>
</body>
</html>